.container {
  background-color: #3bb1ff;
  font-family: Lato, sans-serif;
  color: white;
  padding: 50px 100px;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column-one-third {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: calc(100%/3);
}

.picture {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 50%;
  height: 120px;
  width: 120px;
}

h3 {
  font-weight: bold;
  text-align: center;
}

p {
  color: rgb(226 223 223);
  font-size: 14px;
  text-align: center;
  margin: auto 15px;
}

img {
  height: 65px;
  width: 65px;
}
