h3 {
  color: rgb(240 111 63);
  font-family: "Brandon Grotesque", sans-serif;
}

label {
  font-family: "Brandon Grotesque", sans-serif;
  font-size: 10px;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.button {
  background-color: rgb(240 111 63);
  color: white;
  font-family: "Brandon Grotesque", sans-serif;
  font-size: 11px;
  padding: 0.3rem 0.9rem;
  border-radius: 10rem;
  text-transform: uppercase;
  border: none;
  width: 5rem;
}

#select {
  background-color: rgb(240 237 237);
  font-family: "Brandon Grotesque", sans-serif;
  width: 20rem;
}

input {
  width: 20rem;
  height: 2rem;
}

.buttoncontainer {
  text-align: right;
  line-height: 2.5rem;
}

::placeholder {
  font-family: "Brandon Grotesque", sans-serif;
  color: rgb(182 179 179);
}
