.container {
  max-width: 800px;
}

body {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
}

.column-one-third {
  width: calc(100% / 3);
}

.column-one-fourth {
  width: 25%;
}

.column-two-thirds {
  width: calc(100% / 1.5);
}

img {
  width: 100%;
}
