button {
  padding: 9px 30px;
  font-size: larger;
}

button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

th {
  background-color: black;
  color: white;
}

tr:nth-child(odd) {
  background-color: lightgray;
}
