.container {
  max-width: 100%;
}

.section1 {
  max-width: 100%;
}

.row {
  display: flex;
  justify-content: center;
  width: 100%;
}

.column {
  display: flex;
  position: relative;
}

.navi-logo {
  width: 30rem;
  font-size: 22px;
  font-family: "Tiempos Headline", sans-serif;
  font-style: normal;
  font-weight: lighter;
  src: url(""TiemposHeadline-Regular.woff2"") format(""woff2"");
  color: rgb(54 72 104);
}

.navi-logo > h1 {
  padding-left: 7rem;
  font-size: larger;
  letter-spacing: 2px;
}

.navi {
  display: flex;
}

.navi > li {
  width: 7rem;
  text-align: center;
  color: rgb(193 191 191);
  font-family: Avenir, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: smaller;
  src: url(""avenir.woff2"") format(""woff2"");
  margin-top: 15px;
}

.contact {
  padding-right: 7rem;
}

.column > ul {
  display: flex;
  list-style: none;
}

button {
  color: white;
  background-color: rgb(54 72 104);
  border-radius: 2.5px;
  border-style: hidden;
  padding: 0 15px;
  margin-top: 20px;
  height: 35px;
  font-size: 12px;
}

hr {
  border: 1px solid rgb(242 240 240);
  position: relative;
  width: 100%;
  margin-top: -0.9rem;
  margin-bottom: 40px;
}

.picture > img {
  height: auto;
}

.text > h1 {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: white;
  margin-top: 3rem;
  margin-left: 3rem;
}

.text > p {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: white;
  margin-top: 5.5rem;
  margin-left: 3rem;
  line-height: 1.5rem;
  width: 50%;
}

.text > button {
  position: absolute;
  left: 0;
  bottom: 3.5rem;
  color: white;
  margin-top: 5.5rem;
  margin-left: 3rem;
  line-height: 1.5rem;
  padding: 0 32px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: auto;
  height: auto;
  background: radial-gradient(circle, rgb(50 48 49 / 30%) 10%, rgb(108 109 111 / 40%) 100%);
  margin-bottom: 0.2rem;
}

#section3 {
  background-color: rgb(247 247 247);
  margin-top: 2.3rem;
}

.text2 {
  text-align: center;
  color: gray;
}

.text2 > h4 {
  font-family: "Tiempos Headline", sans-serif;
  font-style: normal;
}

.text2 > p {
  margin-top: -0.5rem;
  width: 23rem;
  line-height: 1.2rem;
  font-size: 12px;
  font-family: Avenir, sans-serif;
  font-style: normal;
}

.column2 > ul {
  list-style: none;
  color: gray;
  font-family: Avenir, sans-serif;
  font-style: normal;
  font-size: smaller;
  line-height: 2rem;
  margin-top: 1.5rem;
}

.column2 {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding-right: 6rem;
  padding-left: 2.5rem;
  text-align: center;
}

.column2 > li {
  width: 300px;
}

.text3 {
  text-align: left;
  color: gray;
}

.text3 > h4 {
  font-family: "Tiempos Headline", sans-serif;
  font-style: normal;
}

.text3 > p {
  font-family: Avenir, sans-serif;
  font-style: normal;
  font-size: 12px;
  margin-top: -0.65rem;
}

.getstarted2 > button {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0 32px;
}

.getstarted2 {
  width: 100%;
}

.text4 {
  text-align: left;
}

.text4 > ul {
  list-style: none;
}
